extends layout
block page
block content
	- var dataString = JSON.stringify(data)
	- var dotString = JSON.stringify(dots)
	input(type='hidden', class='data-json-dots', value= dotString)
	input(type='hidden', class='data-json', value= dataString)
	input(type='hidden', class='chart-width')
	input(type='hidden', class='chart-height')
	
	div.row
		div#chart.col-xs-12(class='vis')
			div.tt
	div.row
		each val, index in data
			div.col-xs-12.col-sm-6.col-md-4
				div.panel.panel-sm.panel-default(id="stock_tab_"+val.key+"")
					div.panel-body.row
						h6.col-xs-9.col-md-8 #{val.name}
						div.col-xs-3.col-md-4
							button.btn.btn-block(id=""+val.key+"", role="button", type="submit", class="remove") x
