doctype html
html
	head
		title= title
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css")
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(type="text/javascript", src="/scripts/moment-with-locales.min.js")
		script(type="text/javascript", src="http://d3js.org/d3.v3.min.js")
		script(type="text/javascript", src="/scripts/bootstrap.js")
		script(type="text/javascript", src="/scripts/bootstrap-datepicker.js")
		
		script(type="text/javascript", src="http://d3js.org/d3-time.v1.min.js")
		script(type="text/javascript", src="http://d3js.org/d3-time-format.v2.min.js")
		script(type="text/javascript", src="/scripts/graph.js")
		
		
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		block page
		block header
			include includes/menu
		.container-fluid#wrapper
			block content
		block footer
			nav.navbar.navbar-default.navbar-fixed-bottom
				.container-fluid
					a.navbar-brand(href="https://github.com/tbushman", target="_blank") repo
			
				